.wrapper-input-file {
	height: 48px;
	width: 90%;
	max-width: 300px;
	min-width: 150px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	border-radius: var(--radius);
	border: 1px dashed #bbb;
	color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .9em;
}

.wrapper-input-file>input {
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	opacity: 0;
	-moz-opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.form-upload-file {
	display: grid;
	grid-template-columns: 4fr 1fr;
	gap: .5em;
}

@media screen and (width < 480px) {
	.form-upload-file {
		grid-template-columns: 1fr;
	}
}